name: Pylint Analysis

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint cryptography

    - name: Analysing the code with pylint
      run: |
        # On ignore certaines erreurs de style mineures pour se concentrer sur le critique
        pylint $(git ls-files '*.py') --disable=C0114,C0116,C0115